<footer class="page-footer blue-grey lighten-1" style="position: fixed; bottom: 0px; width: 100%; ">
          <div class="container">
            <div class="row">
              <div class="col l9 s12">
                <h6 class="white-text">Colaborators</h6>
                  <img src="/static/img/logo_lleidadrone.png" width="80">
                  <img src="/static/img/logo_hemav.png" width="80">
                  <img src="/static/img/logo_catsmartdrones.png" width="80">
                  <img src="/static/img/logo_pcital.png" width="80">

              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">IDIVT</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
</footer>
